@model List<OrderViewModal>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5 w-100">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Manager" asp-action="Index">e_comm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item custom-nav-item" onclick="handleRoute('https://localhost:7184/Manager/ManagerVga')">
                        <p class="nav-link text-dark">VGA</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerRam')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">RAM</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerHard')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">HARD</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerProcessor')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">PROCESSORS</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerOrders')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Orders</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerCustomer')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Customers</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerCategory')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Categories</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/manager/ManagerDevices')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Devices</p>
                    </li>
                    <li class="nav-item">
                        <button hidden onclick="handleLogout()" id="btnLogout" class="btn btn-outline-danger">LOGOUT</button>
                        <button hidden onclick="handleLogin()"
                                id="btnLogin" class="btn btn-outline-primary">
                            LOGIN
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="w-100 container" style="height: 100vh">

    <div class="d-flex w-100 justify-content-between align-items-center">
        <h1 class="f-bangers">Manage Orders</h1>
        <button id="btnOrderReportDownload" class="btn btn-outline-primary">DOWNLOAD CATEGORY/SERIES</button>
    </div>
    <div style="overflow-x:auto;" class="form-container mt-4">
       <div>
            <table class="table table-hover" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>name</th>
                        <th>S.Address</th>
                        <th>B.Address</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Vga</th>
                        <th>Ram</th>
                        <th>Hard</th>
                        <th>Processor</th>  
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr data-toggle="modal" data-target="#exampleModal" onclick="selectOrderStatus(@category.Order_status, @category.Id)">
                            <td>@category.Devices_title</td>
                            <td>@category.Customer_name</td>
                            <td>@category.Shipping_address</td>
                            <td>@category.Billing_address</td>
                            <td>@category.Order_Type</td>
                            <td>@category.Order_status</td>
                            <td>@category.Vga_title</td>
                            <td>@category.Ram_title</td>
                            <td>@category.Processor_title</td>
                            <td>@category.Hard_title</td>
                            <td>@category.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
       </div>
    </div>

    @*View more details modal start*@
    @*******************************@
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="custom-modal-header">
                    <h4 class="m-0 p-0" text-center">Handle Order !</h4>
                </div>
                <div class="d-flex d-flex flex-column d-center gap-4 p-4">
                    <div class="d-flex gap-3 d-flex d-center">
                        <button onclick="handlePaymentState(1)" id="btnProcessing" class="btn btn-warning">Processing</button>
                        <button onclick="handlePaymentState(2)" id="btnShipped" class="btn btn-primary">Shipped</button>
                        <button onclick="handlePaymentState(3)" id="btnCompleted" class="btn btn-success">Completed</button>
                        <button onclick="handlePaymentState(-1)" id="btnCancelled" class="btn btn-danger">Cancelled</button>
                    </div>
                    <h5 id="lblOrderCompleted" class="text-danger text-decoration-underline m-0 p-0">Order is completed</h5>
                </div>
            </div>
        </div>
    </div>
</div>